@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  position: absolute;
}

.logo {
  position: relative;
  max-width: 50px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 600;
  margin-left: 40px;
  text-decoration: none;
  transition: 0.2s ease-in;
}

header ul li a:hover {
  transform: translateY(-1px);
  color: #000;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #333;
  font-size: 3em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox p {
  color: #333;
  font-size: 1.2em;
}

.content .textBox a {
  display: inline-block;
  margin-top: 40px;
  padding: 8px 20px;
  background-color: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
}

.content .imgBox {
  left: 50%;
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  margin-top: 50px;
}

.content .imgBox img {
  max-width: 340px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 60px;
}

.sci {
  position: absolute;
  top: 62%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.7);
  filter: invert(1);
  transition: 0.3s ease-in;
}

.sci li a:hover {
  transform: translateY(-1px);
  color: black;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #017143;
  clip-path: circle(580px at right 800px);
}

.lermais {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lermais__agradecimento {
  margin-top: 10%;
}

.lermais__agradecimento span {
  font-size: 25px;
  color: #017143;
  font-weight: 600;
}

@media (min-height: 950px) {
  body {
    overflow: hidden;
  }

  section {
    width: 100%;
    min-height: 100vh;
    padding: 100px;
  }

  header {
    padding: 30px 100px;
  }

  .logo {
    max-width: 100px;
  }

  header ul li a {
    font-size: 25px;
  }

  .content .textBox h2 {
    color: #333;
    font-size: 4.2em;
    line-height: 1.4em;
    font-weight: 500;
  }

  .content .textBox p {
    color: #333;
    font-size: 1.8em;
  }

  .content .textBox a {
    display: inline-block;
    margin-top: 70px;
    padding: 8px 20px;
    background-color: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
  }

  .content .textBox {
    max-width: 800px;
  }

  .content .imgBox {
    left: 60%;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    margin-top: 150px;
  }

  .content .imgBox img {
    max-width: 450px;
  }

  .thumb {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
  }

  .thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
  }

  .thumb li:hover {
    transform: translateY(-15px);
  }

  .thumb li img {
    max-width: 75px;
  }

  .sci {
    position: absolute;
    top: 62%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sci li {
    font-size: 40px;
  }

  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #017143;
    clip-path: circle(700px at right 1100px);
  }

  .lermais__link {
    font-size: 1.4em;
  }

  .lermais__agradecimento {
    margin-top: 10%;
  }

  .lermais__agradecimento span {
    font-size: 30px;
    color: #017143;
    font-weight: 600;
  }

  header ul li a:hover {
    transform: translateY(-3px);
    color: #000;
  }
}

@media (max-width: 1300px) {
  section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  header {
    padding: 15px 50px;
  }

  .logo {
    max-width: 70px;
  }

  header ul li a {
    font-size: 20px;
  }

  .content .textBox h2 {
    color: #333;
    font-size: 2.1em;
    line-height: 1.4em;
    font-weight: 500;
  }

  .content .textBox p {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 10%;
  }

  .content .textBox a {
    display: inline-block;
    margin-top: 0;
    padding: 8px 25px;
    background-color: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
  }

  .content .textBox {
    max-width: 400px;
  }

  .content .imgBox {
    left: 25%;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    margin-top: 100px;
  }

  .content .imgBox img {
    max-width: 300px;
  }

  .thumb {
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    display: flex;
  }

  .thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
  }

  .thumb li:hover {
    transform: translateY(-15px);
  }

  .thumb li img {
    max-width: 70px;
  }

  .sci {
    position: absolute;
    top: 75%;
    right: 25px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sci li {
    font-size: 40px;
  }

  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #017143;
    clip-path: circle(600px at right 1000px);
  }

  .lermais__link {
    font-size: 1em;
  }

  .lermais__agradecimento {
    margin-top: 2%;
  }

  .lermais__agradecimento span {
    font-size: 20px;
    color: #017143;
    font-weight: 600;
  }

  header ul li a:hover {
    transform: translateY(-3px);
    color: #000;
  }
}

@media (max-width: 450px) {
  section {
    position: relative;
    width: 97%;
    height: auto;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    background-color: #fff;
  }

  header {
    padding: 15px 25px;
  }

  .contact {
    display: none;
  }

  .logo {
    max-width: 50px;
  }

  header ul li a {
    font-size: 15px;
  }

  .content {
    position: none;
    width: 100%;
    display: block;
  }

  .content .textBox h2 {
    color: #333;
    font-size: 1.7em;
    line-height: 1.4em;
    font-weight: 500;
  }

  .content .textBox p {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 10%;
  }

  .content .textBox a {
    display: inline-block;
    margin-top: 0;
    padding: 8px 25px;
    background-color: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
  }

  .content .textBox {
    max-width: auto;
  }

  .content .imgBox {
    left: 95%;
    width: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    margin-top: 100px;
  }

  .content .imgBox img {
    max-width: 300px;
  }

  .thumb {
    position: absolute;
    left: 50%;
    bottom: -550px;
    transform: translateX(-50%);
    display: flex;
  }

  .thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
  }

  .thumb li:hover {
    transform: translateY(-15px);
  }

  .thumb li img {
    max-width: 70px;
  }

  .sci {
    top: 125%;
    right: 5px;
  }

  .sci li a {
    filter: invert(0);
  }

  .sci li a:hover {
    transform: translateY(-1px);
    color: black;
  }

  .circle {
    width: 0;
    height: 0;
  }

  .lermais__link {
    font-size: 1em;
  }

  .lermais__agradecimento {
    margin-top: 2%;
  }

  .lermais__agradecimento span {
    font-size: 16px;
    color: #017143;
    font-weight: 600;
  }

  header ul li a:hover {
    transform: translateY(-3px);
    color: #000;
  }
}
